<body bgcolor="teal" text="#ffffff">
  <h1 align="center">
    afisha
  </h1>
  <h2 align="center">
    <small>
	  сегодня в номере
	</small>
  </h2>
  <p align="center">
    <ol start="3">
      <li>
        Сборная России, напрямую вышедшая на чемпионат мира в Бразилию,
      </li>
      <li>
        в ноябре проведёт товарищеские матчи.
          <br>
        Россияне 
      </li>
      намереваются сыграть 15 и 19 ноября — в дни проведения стыковых матчей.
        <br>
      <li>
        По данным газеты "Советский спорт", у Российского футбольного союза есть несколько вариантов.
      </li>
	  Ранее сообщалось,
	    <br>
      что россияне могут сыграть с Испанией. Также в потенциальных соперниках фигурируют сборные Бельгии и Швейцарии. Кроме того, возможен спарринг со сборной Северной Кореи. Ещё одним потенциальным соперником является сборная Молдавии.
    </ol>
  </p>
  <p align="center">
    Нападающий сине-бело-голубых Александр Кержаков стал лучшим бомбардиром в составе национальной сборной России по итогам отборочного раунда чемпионата мира 2014 года.
      <blockquote>
	    <em>
		Форвард принял участие во всех десяти матчах цикла и отличился в них пять раз. По четыре гола забили в квалификации полузащитник «Зенита» Виктор Файзулин и форвард «Динамо» Александр Кокорин, три — Роман Широков, по два — Денис Глушаков из «Спартака» и Александр Самедов из «Локомотива», один — Василий Березуцкий из ЦСКА.
      </blockquote>
    <dl>
      <dt>
        Таким
      </dt>
        <dd>
	      образом, игроки сине-бело-голубых
        </dd>
    </dl>
    записали на свой счет в общей сложности больше половины голов сборной в квалификации.
    За свою карьеру Александр Кержаков провел за главную команду страны 77 матчей и отличился в них 24 раза.
  </p>
  <p align="center">
    <del>
	  Главный тренер сборной России Фабио Капелло:
	</del>
    Мы сыграли хорошо. 
      <div>
	    Ведя в счете, могли забить еще, но иногда нам мешал вратарь соперника, а периодически не хватало толики везения.
      </div>
    Азербайджанцы имели лишь один шанс для взятия ворот и воспользовались им по максимуму. Не могу сказать, что мы недооценили оппонентов или были расслаблены. Вообще, я остался доволен отборочным циклом. Рад, что заняли первое место в группе, опередив Португалию. Эта кампания получилась сложной. "Нам нужно поработать над концентрацией, чтобы не теряться на последних минутах".
  </p>
  <a href="http://www.google.ru" target="zzz">Поищи новости сам</a>
    <br>
  <a href="video">Позырить сюда</a>
    <br>
  <img src="https://lh4.googleusercontent.com/-BimL6uvSldM/Ul5v4bNYQnI/AAAAAAAA7wg/aE84u151hC8/w608-h779/1383836_663619546996389_2102142253_n.jpg" hspace="800" vspace="100">
  <br>
  <table align="center" cols="2">
    <caption aligh="center">ВОТ ЭТО ПОВРОТ
	</caption>
      <tr>
	    <td>
	      пизда
        </td>
	    <td>
	      головожопа минога
        </td>
      </tr>
	  <tr>
	    <td>
	      абфрвалог
	    </td>
	  </tr>
  </table>
</body>
