<h1>ГЛАВНАЯ</h1>
<div class="center">
<p class="home">
<%= link_to image_tag("afisha.jpg", alt: "qwer"), 'http://google.ru' %>
3/11 - наш первый фестиваль!

Группа "Паровоз"http://vk.com/parovoz_band в качестве одного из хедлайнеров примет участие в XIII-ом международном фестивале "K!nRock'13"! http://vk.com/kinrock_fest
</p>
</div>