<div class="center hero-unit">
	<h1>Главная страница Паровоза</h1>
	<h2>
	  это главная страница
		<a href="http://google.ru">google</a>
		паровоза.
	</h2>
	<%= link_to "sign up now", '#', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("http://demotivators.to/media/posters/147/216558_tak-bratya-cherepanovyi-pridumali-parovoz.jpg", alt: "qwer"), 'http://google.ru' %>