/* universal */

html {
	overflow-y: scroll;
}

body {
	/*padding-top: 30px;*/
	weight: 100%;
	background: url('http://ic.pics.livejournal.com/yureczasoba/27207375/1465477/1465477_original.jpg') no-repeat fixed;
}

section {
	overflow: auto;
}

.center {
	text-align: center;
	border-bottom: 2px solid #8f8f8f;
}

.center h1 {
	margin-bottom: 10px;
}
 /* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
	
}

p.home {
 font-size: 1.1em;
 background-color: white;
 border: 4px outset black;
 width: 800px;
 margin-left: 537px;
}
p.news {
	font-size: 1.1em;
	line-height: 1.7em;
	background-color: olive;
	border: 4px outset green;
	width: 800px;
	margin-left: 537px;
}

.video {
	margin-left: 537px;
}

/* header */
nav {
	list-style: none;
	line-height: normal;
	font-family: Tahoma;
	font-size: 3em;
	margin: auto; 
  position: relative;
}

/* footer */

footer {
	margin-top: 45px fixed;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
}

footer p {
  color: #000;
}

footer p:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 10px;
	}